<link rel="stylesheet" href="../css/style.css">
<div id="main">
  <h2>Phone Book</h2>
  <p>All your contscts are saved here</p>
  <div class="dropdown">
      <div id="myDropdown" class="dropdown-content">  
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      {{#each data}}
      <button type="button" class="collapsible">{{this.name}}</button>
      <div class="content">
        <p>{{this.dateOfBirth}} 
        <button id="editButton">edit</button>  
        <form action="/remove" method="post" >
          <input type="hidden" name="id" value="{{this._id}}"/>
          <button type="submit">remove</button>
        </form></p>
        {{#each this.phoneNumber}}
        <p>{{this}}</p>
        {{/each}}
        {{#each this.emailID}}
          <p>{{this}}</p>
        {{/each}}
        
      </div><br>
      
      {{/each}}
    </div>
  </div><br>
  <form action="/add" method="GET"><button type="submit">Add Contact</button></form>
  
</div>


<script src="../js/dropDown.js"></script>